/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background: #0073e6;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #0073e6;
    border-bottom: 2px solid #0073e6;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 5px;
}

/* Modo oscuro */
body.dark-mode {
    background-color: #1e1e1e;
    color: #f4f4f4;
}

body.dark-mode header {
    background: #444;
}

body.dark-mode section {
    background: #333;
    color: white;
}

body.dark-mode h2 {
    color: #1e90ff;
    border-bottom: 2px solid #1e90ff;
}

.toggle-dark-mode {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background: #0073e6;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}
